<div class="mt-20 flex justify-center">
    <div class="w-[70em]">
        <mat-tab-group>
            <mat-tab label="Invite Users">
                <ng-template matTabContent>
                    <app-invites-table></app-invites-table>
                </ng-template>
            </mat-tab>
            <mat-tab label="Create Channels">
                <ng-template matTabContent>
                    <app-channels-table></app-channels-table>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>