*{
    margin: 0;
}
.maincontainer{
    position: relative;
}
.sidebar{
    top: 0;
    position: absolute;
    border: 2px solid black;
    width: 3rem;
    height: 100%;
    font-size: xx-large;
    background-color: rgb(189, 173, 180);

}
.xtx1{
    margin-right: 0px;
}
.e{
    margin-left: 0px;
}
.h1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 173, 180);
    border: 1px solid lightgrey;
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.ch1{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 3rem;
    align-items: center;
}
[nz-button] {
    margin-right: 0px;
  }

.navbar{
    margin-left: 8rem;
    width: 60%;
    
 
}


  .ant-segmented {
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: rgba(100, 140, 241, 0.775);
    color: black;
  }



.bigb{
    display: flex;
    justify-content: space-around;
    margin-top: 0.2rem;

}
.n2{
    font-size: 4rem; 
    font-weight: 500;
    opacity: 0.4;
 }
 .tx2{
     opacity: 0.6;
     
 }

.n1{
   font-size: 4rem; 
   font-weight: 500;
}
.tx1{
    opacity: 0.6;
    
}
.b2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b1{
    display: flex;
    margin-left: 0.4rem;
    align-items: center ;
}

.img1{
    font-size: xx-large;
}
.t1{
    margin-left: 1rem;
    font-size: large;
}

.t2{
    margin-left: 0.6rem;
    font-size: large;
    opacity: 0.5;
}

h3{
margin: 0;
font-size: 1.9rem;
font-weight: bolder;
}
.container1{
display: flex;
justify-content: space-between;
margin-top: 3rem;
margin-left: 8rem;
margin-right: 3rem;

}
.text1{
    margin-top: 10px;
}
.code-box-demo {
    overflow-x: auto;
  }

  .code-box-demo .ant-segmented {
    margin-bottom: 10px;
  }

p{
    font-size: 1.25em;
    font-weight: light;
    margin-top: 0px;
margin-right: 0px;
    overflow-wrap: break-word;
}
.container2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 8rem;
    margin-right: 3rem;

}
.container3{
    display: flex;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 8rem;
    margin-right: 3rem;
    justify-items: stretch;
    justify-content: space-between;
}
.contianer4{
      display: flex;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 8rem;
    margin-right: 3rem;
    justify-items: stretch;
    justify-content: space-between;
}
.a{
width: 30rem;
background-color: white;
height: 20rem;
display: flex;
border-radius: 0.5rem;
box-shadow: 5px 5px 5px  #888888;
border: 2px solid black;
}


.a1{
display: flex;
flex-direction: column;
}
.a2{
    display: flex;
    flex-direction: column;
    }
.b{
    width: 18rem;
    height: 11.5rem;
    background-color: white;
    border: 0.15rem solid black; 
    box-shadow: 5px 5px 5px  #888888;
    border-radius: 0.5rem;

}
.c{
    width: 46rem;
    height: 27.5rem;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px  #888888;
    border-radius: 0.5rem;
}

.d{
    width: 260rem;
    height: 27.5rem;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px  #888888;
    border-radius: 0.5rem;
}