<div class="h1">
<div class="ch1">
    <h2>Segment Dashboard</h2>
    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
    <span nz-icon nzType="retweet" nzTheme="outline"></span>
</div>
<div class="ch1">
    <div class="xtx1">details</div>
    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
    <button class="e" nz-button nzType="primary">Primary Button</button>
    <button nz-button nzType="default">Default Button</button>
</div>
</div>
<div class="sidebar">
    <span nz-icon nzType="left" nzTheme="outline"></span>

</div>
<div class=" navbar">
<nz-segmented [nzOptions]="options" [nzBlock]="true" [(ngModel)]="index" (nzValueChange)="fetchf($event)"></nz-segmented>
</div>

    <div class="maincontainer">
    <div class="container1">    
<div class="a"><canvas id="myChart"></canvas>
<div class="text1">
    <div class="a1">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    <div class="a2">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    <div class="a2">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    </div>
    </div>
<div class="a"> <canvas id="myChart1"></canvas> 
<div class="text1">
<div class="a1">
    <h3>{{g}}</h3>
<p>segment customers</p>
</div>
<div class="a2">
    <h3>{{g}}</h3>
<p>segment customers</p>
</div>
<div class="a2">
    <h3>{{g}}</h3>
<p>segment customers</p>
</div>
</div>
</div>
<div class="a"><canvas id="myChart2"></canvas>
<div class="text1">
    <div class="a1">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    <div class="a2">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    <div class="a2">
        <h3>{{g}}</h3>
    <p>segment customers</p>
    </div>
    </div>
    </div>
</div>

<div class="container2">    
    <div class="b">
        <div class="b1">
                <div class = "img1">
                    <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                </div>
                <div class="t1">
                    no of orders placed
                </div>
                <div class="t2">
                    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                </div>
        </div>
        <div class = "bigb">
        <div class="b2">
            <div class="n1">
                18
            </div>
            <div class ="tx1">
            segment orders
            </div>
            </div>
            <div class="b3">
            <div class="n2">
                38
            </div>
            <div class ="tx2">
            Total orders
            </div>
        </div>
</div>
            </div>
            <div class="b">
                <div class="b1">
                        <div class = "img1">
                            <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                        </div>
                        <div class="t1">
                            no of orders placed
                        </div>
                        <div class="t2">
                            <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                        </div>
                </div>
                <div class = "bigb">
                    <div class="b2">
                        <div class="n1">
                            18
                        </div>
                        <div class ="tx1">
                        segment orders
                        </div>
                        </div>
                        <div class="b3">
                        <div class="n2">
                            38
                        </div>
                        <div class ="tx2">
                        Total orders
                        </div>
                    </div>
            </div>
                        </div>
                    <div class="b">
                        <div class="b1">
                                <div class = "img1">
                                    <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                                </div>
                                <div class="t1">
                                    no of orders placed
                                </div>
                                <div class="t2">
                                    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                                </div>
                        </div>
                        <div class = "bigb">
                            <div class="b2">
                                <div class="n1">
                                    18
                                </div>
                                <div class ="tx1">
                                segment orders
                                </div>
                                </div>
                                <div class="b3">
                                <div class="n2">
                                    38
                                </div>
                                <div class ="tx2">
                                Total orders
                                </div>
                            </div>
                    </div>
                                </div>
                            <div class="b">
                                <div class="b1">
                                        <div class = "img1">
                                            <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                                        </div>
                                        <div class="t1">
                                            no of orders placed
                                        </div>
                                        <div class="t2">
                                            <span nz-icon nzType="info-circle" nzTheme="outline"></span>
                                        </div>
                                </div>
                                <div class = "bigb">
                                    <div class="b2">
                                        <div class="n1">
                                            18
                                        </div>
                                        <div class ="tx1">
                                        segment orders
                                        </div>
                                        </div>
                                        <div class="b3">
                                        <div class="n2">
                                            38
                                        </div>
                                        <div class ="tx2">
                                        Total orders
                                        </div>
                                    </div>
                            </div>
                                        </div>
                                        </div>
                                
                                    
                                    
<div class="container3">    
        <div class="c"><canvas id="myChart3"  style=" height: 100%; width: 100%"></canvas></div>
        <div class="c"><canvas id="myChart4"  style=" height: 100%; width: 100%" ></canvas></div>
        </div>
<div class = "contianer4">
        <div class="d">
            <canvas id="MyChart8" style=" height: 100%; width: 100% ;"></canvas>
        </div>
</div>

    